.hamburger{
    width: 28px;
    height: 31px;
    background-color: transparent;
    border: none;
    display: none;
}
.hamburger--close{
    background: var(--close);
}
.hamburger--open{
    background: var(--open);
}
@media only screen and (max-width:900px){
    .hamburger{
        display: inline-block;
    }
}